<mat-toolbar-row class="auqa-banner-header">
  <h2>aquariums</h2>
</mat-toolbar-row>
<mat-toolbar-row class="first-banner">
  <div class="first-img"></div>
  <div class="first-text">
    <p>
      Betta fish are native to Asia, where they live in the shallow water of marshes, ponds, or slow-moving streams.
      Male bettas are devoted fathers who build bubble nests for their young with their mouths and fiercely protect
      their babies from predators. Just like us, betta fish are diurnal. That means
      they’re active during the day and sleep at night, requiring darkness to get a good night’s rest.
    </p>
  </div>
</mat-toolbar-row>
