::ng-deep mat-dialog-container {
  background-color: #071c26 !important;
}
mat-toolbar-row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 93%;
  height: 100%;
  background-color: #071c26;
  border: .1rem black;

  p{
    font-family: "Arial Black";
    color: white;
    margin-left: 2rem;
  }
  button{
    font-family: "Mukta Mahee";
    text-transform: uppercase;
    background-color: red;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
  }
}
