<mat-toolbar-row class="footer">
  <div id="ft-div">
    <h2>more to laqua</h2>
    <p>News</p>
    <p>About</p>
    <p>Contact</p>
  </div>
  <div>
    <h2>products</h2>
    <p>Aquarium</p>
    <p>Terrarium</p>
    <p>Fitting</p>
  </div>
  <div>
    <h2>Costumer support</h2>
    <p>Terms and Conditions</p>
    <p>Privacy Police</p>
    <p>Cookies Policy</p>
  </div>
</mat-toolbar-row>
<mat-divider></mat-divider>
<mat-toolbar-row class="footer-bottom">
  <div id="ft-divi">
    <p id="laqua">LaQua</p>
    <p>All Right Reserved</p>
  </div>
  <div class="icons">
    <fa-icon [icon]="facebook"></fa-icon>
    <fa-icon [icon]="instagram"></fa-icon>
    <fa-icon [icon]="linkedin"></fa-icon>
    <fa-icon [icon]="youtube"></fa-icon>
    <fa-icon [icon]="twitter"></fa-icon>
  </div>
</mat-toolbar-row>

