<mat-toolbar-row class="auqa-banner-header">
  <h2>feeding</h2>
</mat-toolbar-row>
<mat-toolbar-row class="first-banner">
  <div class="first-img"></div>
  <div class="first-text">
    <p>
      Feed is the best option for you and your fish. Not only because it contains no-GMO ingredients and is certified
      organic, but also because it contains special ingredients formulated to nourish your aquaponic fish AND your
      plants!
    </p>
    <button (click)="openFeedingDemo()" mat-button>show demo</button>
  </div>
</mat-toolbar-row>
