
#close {
  position: absolute;
  top: .8rem;
  right: 1rem;
  font-size: 1.2rem;
  z-index: 10000;
  cursor: pointer;
}

mat-toolbar-row {
  display: flex !important;
  align-items: flex-end;
  justify-content: center !important;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/istockphoto-484919662-170667a.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .cart {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p:nth-child(1) {
      color: #071c26;
      font-family: "Source Code Pro";
      font-size: 2.6rem;
      font-weight: 800;
      margin-bottom: 2.5rem;
    }

    p:nth-child(2) {
      color: #ff0000;
      font-family: "Arial Black";
      font-size: 2.4rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    button {
      cursor: pointer;
      color: white;
      background-color: #071c26;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Verdana;
      margin-top: 1rem;
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }
}

.header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  color: #b8912f;

  h3:nth-child(1) {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    margin-left: 3rem;
  }

  h3:nth-child(2) {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    margin-left: 4.5rem;
  }

  h3:nth-child(3) {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 6rem;
  }

  h3:nth-child(4) {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    margin-right: 5rem;
  }

}


.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 93%;
  margin-left: .1rem;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 96%;

  img {
    width: 13rem;
    height: 10rem;
  }

  #name {
    margin-right: 4rem;
    color: #a00d0d;
    width: 2rem;
    font-family: Menlo;
    font-size: 1.2rem;
    font-weight: 500;
  }

  p:nth-child(3) {
    font-family: "Arial Black";
    font-size: 1.2rem;
    font-weight: 500;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    outline: none;

    #qty {
      font-size: 1.5rem;
      font-family: "Mukta Mahee";
      color: #24782c;
      display: block;
      text-align: center;
      width: 3rem
    }

    button {
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    button:nth-child(4) {
      background-color: red;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;

    fa-icon {
      outline: none !important;
      cursor: pointer;
    }
  }
}

.total {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 95%;
  z-index: 10000;
  height: 5rem;

  .total-price {
    margin-bottom: -.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    width: 12rem;
    margin-right: 3rem;
    z-index: 1000000;

    p:nth-child(1) {
      font-size: 1rem;
      font-weight: bold;
      font-family: Sathu;
      text-transform: uppercase;
      width: 3.5rem;
      margin-left: 1rem;
      z-index: 1000000;
    }

    p:nth-child(2) {
      margin-left: 2rem;
      font-size: 1.4rem;
      font-family: Symbol;
      width: 3.5rem;
      z-index: 1000000;
    }

    p:nth-child(3) {
      color: red;
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-family: "Arial Black";
      z-index: 1000000;
    }
  }

  button {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    font-family: "Arial Black";
    color: white;
    background-color: #071c26;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-bottom: .3rem
  }

  button:nth-child(3) {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    font-family: "Arial Black";
    color: white;
    background-color: red;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-bottom: .3rem
  }
}

.item-line {
  width: 96%;
  background-color: #b8912f !important;
}

::ng-deep mat-dialog-container {
  position: relative;
  background-color: #071c26 !important;
  padding: 0 !important;
}

@media (max-width: 800px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 5%;
    height: 90% !important;
  }
}

@media (max-width: 750px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 10%;
    height: 85% !important;
  }
}

@media (max-width: 600px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 12.5%;
    height: 80% !important;
  }

  .cart {
    p:nth-child(1) {
      font-size: 2.3rem !important;
      font-weight: 800;
      margin-bottom: 2.5rem;
    }

    p:nth-child(2) {
      font-size: 2.1rem !important;;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    button {
      font-size: .7rem !important;
    }
  }
}

@media (max-width: 550px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 17.5%;
    height: 75% !important;
  }
}

@media (max-width: 500px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 22.5%;
    height: 70% !important;
  }

  .cart {
    p:nth-child(1) {
      font-size: 2rem !important;
    }

    p:nth-child(2) {
      font-size: 1.8rem !important;;
    }

    button {
      font-size: .6rem !important;
    }
  }
}

@media (max-width: 450px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 30%;
    height: 65% !important;
  }

  .cart {
    p:nth-child(1) {
      font-size: 1.8rem !important;
    }

    p:nth-child(2) {
      font-size: 1.6rem !important;;
    }

    button {
      font-size: .5rem !important;
    }
  }
}

@media (max-width: 400px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 37.5%;
    height: 60% !important;
  }
  .cart {
    p:nth-child(1) {
      font-size: 1.6rem !important;
    }

    p:nth-child(2) {
      font-size: 1.4rem !important;;
    }

    button {
      font-size: .5rem !important;
    }
  }


}

@media (max-width: 375px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 40%;
    height: 50% !important;
  }
}

@media (min-height: 800px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 55%;
  }
}

@media (min-height: 900px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 0;
  }
}

@media (min-height: 1000px) {
  ::ng-deep .mat-dialog-container {
    margin-top: 0;
  }
}

@media (min-width: 1050px) {
  .header {
    h3:nth-child(2) {
      margin-left: 2rem !important;
    }

    h3:nth-child(3) {
      margin-left: 0 !important;
      margin-right: 7rem !important;
    }
  }
  .dialog-header {
    .dialog {
      img {
        width: 14rem !important;
        height: 10rem !important;
      }

      #name {
        margin-left: -2rem !important;
        width: 2rem !important;
        font-size: 1.2rem !important;
      }

      p:nth-child(3) {
        font-size: 1.2rem !important;
      }

      div {
        width: 30%;

        #qty {
          font-size: 1.5rem;
        }

        button {
          width: 3rem;
          height: 3rem;

          fa-icon {
            font-size: 1rem;
          }
        }

      }
    }
  }
  .total {
    height: 6rem;

    .total-price {
      padding-top: 1rem;
      margin-bottom: -.1rem !important;
      width: 12rem !important;
      margin-right: 3rem !important;

      p:nth-child(1) {
        font-size: 1rem !important;
        width: 3.5rem !important;
        margin-left: 1rem !important;
      }

      p:nth-child(2) {
        margin-left: 2rem !important;
        font-size: 1.4rem !important;
        width: 3.5rem !important;
      }

      p:nth-child(3) {
        margin-left: 1rem !important;
        margin-bottom: 1rem !important;
        font-size: 1.2rem !important;

      }
    }

    button {
      font-size: .8rem !important;
      margin-right: 1rem !important;
      margin-bottom: .3rem !important;
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (min-width: 950px) {
  .header {

    h3:nth-child(2) {
      margin-left: 2rem !important;
    }

    h3:nth-child(3) {
      margin-left: 0 !important;
      margin-right: 7rem !important;
    }
  }
  .dialog-header {
    .dialog {
      img {
        width: 13.5rem !important;
        height: 9.5rem !important;
      }

      #name {
        margin-left: -2rem !important;
        width: 2rem !important;
        font-size: 1.1rem !important;
      }

      p:nth-child(3) {
        font-size: 1.1rem !important;
      }

      div {
        width: 30%;

        #qty {
          font-size: 1.4rem;
        }

        button {
          width: 2.7rem;
          height: 2.7rem;

          fa-icon {
            font-size: .9rem;
          }
        }

      }
    }
  }
  .total {
    height: 6rem;

    .total-price {
      padding-top: 1rem;
      margin-bottom: -.1rem !important;
      width: 12rem !important;
      margin-right: 3rem !important;

      p:nth-child(1) {
        font-size: 1rem !important;
        width: 3.5rem !important;
        margin-left: 1rem !important;
      }

      p:nth-child(2) {
        margin-left: 2rem !important;
        font-size: 1.4rem !important;
        width: 3.5rem !important;
      }

      p:nth-child(3) {
        margin-left: 1rem !important;
        margin-bottom: 1rem !important;
        font-size: 1.2rem !important;

      }
    }

    button {
      font-size: .8rem !important;
      margin-right: 1rem !important;
      margin-bottom: .3rem !important;
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 1000px) {

  .dialog-header {
    .dialog {
      img {
        width: 12rem;
        height: 9rem;
      }

      #name {
        font-size: 1.1rem;
        margin-left: -2rem;
      }

      button {
        width: 2.5rem;
        height: 2.5rem;
      }

      div {
        width: 30%;
      }
    }
  }
}


@media (max-width: 900px) {
  .header {
    h3:nth-child(3) {
      margin-left: 2rem;
      margin-right: 5rem;
    }
  }

  .dialog-header {
    .dialog {
      img {
        width: 11rem;
        height: 8rem;
      }

      #name {
        font-size: 1.1rem;
        margin-left: -2rem;
      }

      button {
        width: 2.5rem;
        height: 2.5rem;
      }

      div {
        width: 33%;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    h3:nth-child(3) {
      margin-left: 2.5rem;
      margin-right: 4.5rem;
    }
  }

  .dialog-header {
    .dialog {
      img {
        width: 10rem;
        height: 7rem;
      }

      #name {
        font-size: 1rem;
        margin-left: -2rem;
      }

      p:nth-child(3) {
        font-size: 1rem;
      }

      button {
        width: 2.5rem;
        height: 2.5rem;
      }

      div {
        width: 35%;
      }
    }
  }
  .total {
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .8rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.3rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;

      }
    }

    button {
      font-size: .8rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {

      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}


@media (max-width: 800px) {
  .header {
    h3:nth-child(3) {
      margin-left: 3rem;
      margin-right: 4rem;
    }
  }


  .dialog-header {
    .dialog {
      img {
        width: 10rem;
        height: 7rem;
      }

      #name {
        font-size: .9rem;
        margin-left: -1rem;
      }

      p:nth-child(3) {
        font-size: 1rem;
      }

      button {
        width: 2.5rem;
        height: 2.5rem;
      }

      div {
        width: 35%;
      }
    }
  }
  .total {
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .8rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.3rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;

      }
    }

    button {
      font-size: .7rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}


@media (max-width: 750px) {
  .header {
    h3:nth-child(2) {
      margin-left: 5.5rem;
    }

    h3:nth-child(3) {
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }


  .dialog-header {
    .dialog {
      img {
        width: 9.5rem;
        height: 6.5rem;
      }

      #name {
        font-size: .9rem;
        margin-left: -1rem;
      }

      p:nth-child(3) {
        font-size: .9rem;
      }

      button {
        width: 2rem;
        height: 2rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      div {
        width: 35%;
      }
    }
  }
  .total {
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .8rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.3rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;

      }
    }

    button {
      font-size: .7rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}


@media (max-width: 700px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(2) {
      margin-left: 5.5rem;
    }

    h3:nth-child(3) {
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }


  .dialog-header {
    .dialog {
      img {
        width: 9rem;
        height: 6rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 2rem;
        height: 2rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        width: 35%;
      }
    }
  }
  .total {
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .8rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.3rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;

      }
    }

    button {
      font-size: .7rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}


@media (min-width: 650px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(2) {
      margin-left: 5.5rem;
    }

    h3:nth-child(3) {
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }


  .dialog-header {
    .dialog {
      img {
        width: 8.5rem;
        height: 5.5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        width: 37%;
      }
    }
  }
  .total {
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .8rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.3rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;

      }
    }

    button {
      font-size: .7rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 650px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 90%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 85%;

      img {
        width: 8.5rem;
        height: 5.5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 10%;
        width: 35%;
      }
    }
  }
  .total {
    width: 100%;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .7rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.2rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: .9rem;

      }
    }

    button {
      font-size: .6rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 620px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 90%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 85%;

      img {
        width: 8.5rem;
        height: 5.5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 10%;
        width: 35%;
      }
    }
  }
  .total {
    width: 100%;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 12rem;
      margin-right: 3rem;

      p:nth-child(1) {
        font-size: .7rem;
        width: 3.5rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 2rem;
        font-size: 1.2rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: .9rem;

      }
    }

    button {
      font-size: .6rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 600px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 87%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 90%;

      img {
        width: 8.5rem;
        height: 5.5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 10%;
        width: 35%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 10rem;
      margin-right: 2rem;

      p:nth-child(1) {
        font-size: .7rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.2rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .9rem;

      }
    }

    button {
      font-size: .6rem;
      margin-right: 2rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 3rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 570px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 87%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 90%;

      img {
        width: 8rem;
        height: 5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 9%;
        width: 35%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 9.5rem;
      margin-right: 1.5rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.1rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .8rem;

      }
    }

    button {
      font-size: .6rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 515px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 87%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 90%;

      img {
        width: 8rem;
        height: 5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: -.5rem;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 9%;
        width: 35%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 9rem;
      margin-right: 1.5rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.1rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .8rem;

      }
    }

    button {
      font-size: .5rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 485px) {
  .header {
    h3 {
      font-size: 1rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 87%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 90%;

      img {
        margin-left: -1rem;
        width: 8rem;
        height: 5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: 0;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 7%;
        width: 37%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 8rem;
      margin-right: 1.5rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.1rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .8rem;

      }
    }

    button {
      font-size: .5rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 470px) {
  .dialog-header {
    width: 85%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 90%;

      img {
        margin-left: -1rem;
        width: 8rem;
        height: 5rem;
      }

      #name {
        font-size: .8rem;
        margin-left: 0;
      }

      p:nth-child(3) {
        font-size: .8rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 7%;
        width: 45%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 7.5rem;
      margin-right: 1.5rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.1rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .8rem;

      }
    }

    button {
      font-size: .45rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 450px) {
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 6.5rem;
      margin-right: 1rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: .5rem;
        font-size: .8rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .7rem;

      }
    }

    button {
      font-size: .45rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 420px) {

  .dialog-header {
    width: 83%;
    position: relative;
    height: 8rem;
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 6rem;
      margin-right: 1rem;

      p:nth-child(1) {
        font-size: .5rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: .5rem;
        font-size: .8rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .7rem;

      }
    }

    button {
      font-size: .45rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1.5rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 400px) {
  .header {
    h3 {
      font-size: .8rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 82%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 95%;

      img {
        margin-left: -1rem;
        width: 7rem;
        height: 4rem;
      }

      #name {
        font-size: .6rem;
        margin-left: 1rem;
      }

      p:nth-child(3) {
        font-size: .6rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 9%;
        width: 42%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 8rem;
      margin-right: 1.5rem;

      p:nth-child(1) {
        font-size: .6rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: 1rem;
        font-size: 1.1rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .8rem;

      }
    }

    button {
      font-size: .5rem;
      margin-right: 1rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 2rem;
      margin-bottom: .3rem
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 6rem;
      margin-right: 1rem;

      p:nth-child(1) {
        font-size: .5rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: .5rem;
        font-size: .8rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .7rem;

      }
    }

    button {
      font-size: .45rem;
      margin-right: .5rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}

@media (max-width: 375px) {
  .header {
    h3 {
      font-size: .8rem !important;
    }

    h3:nth-child(1) {
      margin-left: 4rem;
    }

    h3:nth-child(2) {
      margin-left: 7rem;
    }

    h3:nth-child(3) {
      margin-left: 4rem;
      margin-right: 4.3rem;
    }

    h3:nth-child(4) {
      display: none;
    }
  }


  .dialog-header {
    width: 82%;
    position: relative;
    height: 8rem;

    .dialog {
      width: 95%;

      img {
        margin-left: -1rem;
        width: 7rem;
        height: 4rem;
      }

      #name {
        font-size: .6rem;
        margin-left: 1rem;
      }

      p:nth-child(3) {
        font-size: .6rem;
      }

      button {
        width: 1.7rem;
        height: 1.7rem;

        fa-icon {
          font-size: .8rem;
        }
      }

      #qty {
        font-size: 1.2rem;
      }

      div {
        position: absolute;
        top: 65%;
        right: 9%;
        width: 41%;
      }
    }
  }
  .total {
    width: 100% !important;
    height: 5rem;

    .total-price {
      margin-bottom: -.1rem;
      width: 6rem;
      margin-right: 1rem;

      p:nth-child(1) {
        font-size: .5rem;
        width: 3rem;
        margin-left: 1rem;
      }

      p:nth-child(2) {
        margin-left: .5rem;
        font-size: .8rem;
        width: 3.5rem;
      }

      p:nth-child(3) {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: .7rem;

      }
    }

    button {
      font-size: .4rem;
      margin-right: .5rem;
      margin-bottom: .3rem
    }

    button:nth-child(3) {
      margin-right: 1rem;
      margin-bottom: .3rem
    }
  }
}
